@{
    ViewData["Title"] = "Fever Check";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Message != null)
{
    <p><strong>@ViewBag.Message</strong></p>
}

@if (ViewBag.Temperature == null)
{
    ViewData["Temperature"] = 0;
}

@if (ViewBag.Degrees == null)
{
    ViewData["Degrees"] = "celsius";
}

<form asp-controller="Doctor" asp-action="Index" method="post">

    <label>Temperature:</label>
    <input type="number" name="temperature" value="@ViewBag.Temperature" />

    @{
        ViewData["Celsius"] = "checked";
        ViewData["Fahrenheit"] = "";
    }
    @if (ViewBag.Degrees == "fahrenheit")
    {
        ViewData["Celsius"] = "";
        ViewData["Fahrenheit"] = "checked";
    }

    <label>Degrees</label>        
    <input type="radio" id="celsius" name="degrees" value="celsius" @ViewBag.Celsius />
    <label for="celsius">Celsius</label>
    <input type="radio" id="fahrenheit" name="degrees" value="fahrenheit" @ViewBag.Fahrenheit />
    <label for="fahrenheit">Fahrenheit</label>

    <input type="submit" value="Check" />

</form>
