@model Person

@if (@Model == null)
{
    <p><strong>The person doesn't exist!</strong></p>
}
else
{
    <h3>(ID: @Model.PersonId) @Model.LastName, @Model.FirstName</h3>

    <p>City: @ViewBag.City (@ViewBag.Country)</p>

    <p>Phone: @Model.Phone</p>

    if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Person" asp-action="Edit" asp-route-personId="@Model.PersonId">Edit</a>
    }
}
