<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="~/bootstrap-5.1.3/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="~/css/style.css" />
        <script src="~/bootstrap-5.1.3/js/bootstrap.js"></script>
        <title>@ViewBag.Title</title>
    </head>

    <body>
        <header>
            <h1>LOGO</h1>
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Projects", "Projects", "Home")</li>
                <li><a href="/FeverCheck">Fever Check</a></li>
                <li><a href="/GuessingGame">Guessing Game</a></li>
                <li>@Html.ActionLink("People Index", "Index", "Person")</li>        
            </ul>
        </header>

        <nav>
            <partial name="_LoginPartial.cshtml" />
        </nav>

        <main>
            @RenderBody()
        </main>

        <footer>
            <p>@DateTime.Now.ToString("yyyy-MM-dd"), Andreas Berg</p>
        </footer>
        <script src="~/lib/jquery/jquery-3.6.0.min.js"></script>
        <script src="~/js/people.js" asp-append-version="true"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>